################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoAssetManagementSystem/.vs/CryptoAssetManagementSystem
/CryptoAssetManagementSystem/CryptoAssetManagementSystem/obj
